

<div id="login-box">

<h3>Login / Register</h3>
<p>You must login or create an account in order to post a job </p>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><strong>You want to post a job</strong></a></li>
    <li><a href="#tab2" data-toggle="tab"><strong>You want to seek a job</strong></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <!-- post job -->
      <div style="margin-left:200px;float:right;">
        <%= render "devise/registrations/job_poster" %>
      </div>
    <div><%= render "devise/sessions/job_poster" %></div>

    </div>
    <div class="tab-pane" id="tab2">
      <!-- seek job -->
      <div style="margin-left:200px;float:right;">
        <%= render "devise/registrations/job_seeker" %>
      </div>
      <div><%= render "devise/sessions/job_seeker" %></div>
    </div>
  </div>
</div>




</div> <!-- end of login-box -->

